body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.search{
  padding : 1rem;
}

.res-container{
  display: flex;
  justify-content: center;
  align-items: center;  
}