.body{
  padding-inline: 4rem;
}

.filter{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

.filter-btn{
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.res-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  justify-content: center;
  align-items: center;
  }