.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: orangered;
}

.logo{
  width: 160px;
  height: 40px;
}

.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.nav-items ul{
  display: flex;
  list-style: none;
}

.nav-items ul li{
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}